<mat-dialog-content>
    <div class="container">
        <div class="row">
            <mat-toolbar color="primary" class="mat-elevation-z6">
                <span>Agendar Turno</span>
            </mat-toolbar>
        </div>
    </div>
    <div class="container form-container mt-2">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Ingrese las fechas</mat-label>
                <mat-date-range-input [formGroup]="range" [dateFilter]="myFilter" [rangePicker]="picker" >
                  <input matStartDate formControlName="start" placeholder="Inicio" >
                  <input matEndDate formControlName="end" placeholder="Fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker  #picker></mat-date-range-picker>
                <mat-hint>Total de Sesiones: {{ sesiones }}</mat-hint>
              </mat-form-field>
        </div>
        <div class="row">
            <form [formGroup]="rangeTime">

            
                <mat-form-field class="col-12 col-md-6">
                    <mat-label>Hora Inicio</mat-label>
                    <input matInput [ngxTimepicker]="timepicker" max="17:30" min="08:00" [format]="24" formControlName="start">
                    <ngx-material-timepicker #timepicker ></ngx-material-timepicker >
                </mat-form-field>   
                <mat-form-field class="col-12 col-md-6">
                    <mat-label>Hora Final</mat-label>
                    <input matInput [ngxTimepicker]="timepicker2" max="17:30" min="08:00"  [format]="24" formControlName="end"  >
                    <ngx-material-timepicker #timepicker2 [format]="24"></ngx-material-timepicker>
                </mat-form-field> 
            </form>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingrese Dni</mat-label>
                <input type="text"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectedPaciente($event.option.value)">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.nombre + ' ' + option.apellido}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Box</mat-label>
                <mat-select [(ngModel)]="boxSelected" >
                    <mat-option *ngFor="let box of boxes " [value]="box">{{box.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Servicio</mat-label>
                <mat-select [(ngModel)]="servicioSelected" >
                    <mat-option *ngFor="let servicio of servicios " [value]="servicio">{{servicio.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Estado</mat-label>
                <mat-select  [(ngModel)]="estadoSelected" >
                    <mat-option *ngFor="let key of estadoKeys " [value]="key">{{estados[key]}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-12  col-md-6">
                <button class="col-12 "  color="accent" (click)="submit()" [disabled]="range.invalid || rangeTime.invalid || pacienteSelected == undefined"
                 mat-raised-button>Guardar</button>                
            </div>
            <div class="col-12 col-md-6">
                <button class="col-12"  color="warn" [mat-dialog-close]="false"  mat-raised-button>Cancelar</button>  
            </div>

        </div>
    </div>
</mat-dialog-content>

